:root {
    --color-border: rgb(0, 0, 0);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    background-color: rgb(207, 207, 207);

    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#gameArea {
    background-color: rgb(255, 255, 255);

    border: 2px solid var(--color-border);
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);

    flex: 0 0 60%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#startGame {
    padding: 10px 20px;

    border: 2px solid var(--color-border);
    border-radius: 5px;
}

#controlPanel {
    padding: 10px 20px;

    width: 100%;

    border-width: 2px 0;
    border-style: solid;
    border-color: var(--color-border);

    display: flex;
    justify-content: space-between;
}

ul {
    margin: 5px 0 5px 20px;

    text-align: end;

    list-style: none;
}
li:first-child {
    margin-bottom: 10px;
}

#gameBoard {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    width: 80px;
    height: 80px;

    font-size: 2.5em;

    align-content: center;
    text-align: center;
}

#cell0, #cell3 {
    border-right: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
}

#cell1, #cell4 {
    border-bottom: 2px solid var(--color-border);
}

#cell2, #cell5 {
    border-left: 2px solid var(--color-border);
    border-bottom: 2px solid var(--color-border);
}

#cell6 {
    border-right: 2px solid var(--color-border);
}

#cell8 {
    border-left: 2px solid var(--color-border);
}

/* ---------------------------------------------------------- */

#dialogForCreatePlayer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 2em 3em;
    border-radius: 8px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.2);
}

.dialogContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#boxForm {
    display: flex;
    gap: 40px;
    align-items: center;
}

#colorGrid {
    width: 80px;
    height: 80px;

    border: 2px solid var(--color-border);
    box-sizing: content-box;
    
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
#colorGrid div {
    width: 20px;
    height: 20px;

    border: 1px solid var(--color-border);
}
#colorGrid div:hover {
    transform: scale(0.9);
}